
<div id="divisions">
  <h1>Divisions</h1>
  <% if @divisions.any? %>
    <% @divisions.each() do |division| %>
      <p><a href="/divisions/<%= division.id() %>"><%= division.name() %></a></p>
    <% end %>
  <% else %>
    <p>
      No divisions at this time
    </p>
  <% end %>

</div>
<div id="projects">
  <h1>Projects</h1>
  <% if @projects.any? %>
    <% @projects.each() do |project| %>
      <p><a href="/projects/<%= project.id() %>"><%= project.name() %></a></p>
    <% end %>
  <% else %>
    <p>
      No projects at this time
    </p>
  <% end %>

</div>
