<h1>Sign in below</h1>

<form action="/sign_in/employee" method="post">
  <label for="employee_first_name">First Name</label><br>
  <input id="employee_first_name" name="employee_first_name" type="text"><br>

  <label for="employee_last_name">Last Name</label><br>
  <input id="employee_last_name" name="employee_last_name" type="text"><br>

  <button type="submit">Sign in</button>
</form>
