@font-face {
    font-family: ghost;
    src: url(../ghost.ttf);
}

body {
  margin: auto;
  display: block;
  text-align: center;
}
header {
  width: 100%;
  height: 300px;
  clear: both;
  margin-top: 0;
  position: relative;
}
.header-background h1 {
  display: inline-block;;
  margin-top: 30px;
  padding-top: 100px;
  font-family: ghost;
  font-size: 50px;
  color: white;
}
.header-background h1 span {
  color: red;
}
.header-background img {
  height: 200px;
  width: 200px;
  position: absolute;
  right: 0;
  bottom: 0;

}
.header-background {
  height: inherit;
  width: 70%;
  background-color: #25A6B4;
  clear: both;
  position: relative;
  float: left;
}

header ul {
  float: left;
  width: 30%;
  list-style-type: none;
  padding: 0;
  position: absolute;
  bottom: 0;
  right: 0;
}
header ul li {
  display: inline;
  margin: 20px;
  font-family: ghost;
  font-size: 25px;
}

ul {
  list-style-type: none;
}
button {
  margin: 10px;
}

#division_content {
  clear: both;
  width: 100%;
}

#division_update, #division_add_employee {
  float: left;
  width: 50%;
}

#projects, #divisions {
  float: left;
  width: 50%;
}
